<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id = "answer" class="com.practice.Answer">
<property name="l">
<list>
<value>shubham</value>
<value>garg</value>
<value>prajai</value>
</list>
</property>


<property name ="s">
<set>
<value>shubham</value>
<value>garg</value>
<value>praja</value>
</set>
</property>

<property name="mp">
<map>
<entry key="1" value="shubham"/>
<entry key="2" value ="garg"/>
<entry key="3" value="praja"/>
</map>
</property>
</bean>



    <bean id = "qtn" class="com.practice.Question">
       <property name="qid" value="1"/>
       <property name="question" value="What is Your Full Name ? "/>
       <property name="ans" ref="answer"/>
    </bean>

</beans>